venv
.idea
.git
*.sqlite3
\*/*.pyc
\static/media
\*/__pycache__/
\*/migrations/
\.idea/
\media/
\static/ckeditor
\static/admin
\static/jet/js/
\static/jet/css/icons/
\static/jet/css/jquery-ui/
\static/jet/css/select2/
\static/jet.dashboard/
*.scss
*.map
*.pyc
\assets/
assets
\static/images/emot/*
\static/images/emojin/*
\static/images/test/*