{% extends 'base/template.html' %}
{% load static %}
{% block content %}
    <!-- ##### Articles Area Start ##### -->
    <section class="articles-area">
        <div class="container">
            <div class="row pt-5">
                <!-- Section Titile -->
                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="text-center font-mc-ten mb-15">Autenticación:</h1>
                </div>
            </div>
            <nav class="row col-6 offset-3 justify-content-center">
                <div class="post-a-comment-area clearfix" id="reply">
                    <!-- Reply Form -->
                    <div class="contact-form-area">
                        <form method="post" action="{% url 'login' %}">
                            <div class="row">
                                {% csrf_token %}
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input class="form-control" maxlength="30" placeholder="Usuario" name="{{ form.username.html_name }}" type="text" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                    <input class="form-control" maxlength="30" placeholder="Contraseña" name="{{ form.password.html_name }}" type="password" />
                                </div>
                                <div class="input-group">
                                    <p class="col-12 d-flex align-items-center justify-content-between">
                                        <a href="{% url 'restore' %}">¿Has olvidado tu Contraseña?</a>
                                        <a href="{% url 'register' %}">Registrarse</a>
                                    </p>
                                </div>
                                <div class="col-12">
                                    <button class="btn egames-btn w-100" type="submit">Autenticarse</button>
                                </div>
                                <input type="hidden" name="next" value="{{ next }}" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Articles Area End ##### -->
{% endblock %}
