{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ title_page }}</title>

    {% block style %}{% endblock %}

    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  </head>
  <body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    {% block nav %}{% endblock %}
    {% block slides %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.min.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/ajax.min.js' %}"></script>
    <script type="text/javascript">
        var online_url = "http://{{ request.get_host }}"+"{% url 'api_online' %}";
    </script>
    <script src="{% static 'js/active.min.js' %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>