{% load static %}
<div class="games-area section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Single About -->
            <div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".2s">
                <div class="about-single">
                    <img style="height: 70px" src="{% static 'images/personajes/player.png' %}">
                    <h2 class="font-mc-seven">Supervivencia</h2>
                    <p>Para los amantes de la supervivencia extrema, esta es tu mejor opcion.</p>
                </div>
            </div>
            <!-- Single About -->
            <div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".3s">
                <div class="about-single">
                    <img style="height: 70px" src="{% static 'images/personajes/cientifico.png' %}">
                    <h2 class="font-mc-seven">Comercio</h2>
                    <p>El comercio entre jugadores permite el intercambio de multiples objetos.</p>
                </div>
            </div>
            <!-- Single About -->
            <div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".4s">
                <div class="about-single">
                    <img style="height: 70px" src="{% static 'images/personajes/loco.png' %}">
                    <h2 class="font-mc-seven">Tecnologia y Ciencia</h2>
                    <p>Maquinarias, artilugios y sistemas completos que mejoran tu experiencia en el juego.</p>
                </div>
            </div>
            <!-- Single About -->
            <div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".5s">
                <div class="about-single">
                    <img style="height: 70px" src="{% static 'images/personajes/aldeano_fin.png' %}">
                    <h2 class="font-mc-seven">Aventura y Misterio</h2>
                    <p>Magia, misterio y aventuras, te brindamos eso y mucho mas.</p>
                </div>
            </div>
        </div>
    </div>
</div>