
    <!--Footer-->
    <footer class="page-footer center-on-small-only  pt-0 footer-widget-container">
      <!--Footer Links-->
      <div class="container pt-5 mb-5">
        <div class="row">
          <!--First column-->
          <div class="col-md-6 col-lg-3 col-xl-3 footer-contact-widget">
              <h3 class="footer-title">About</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates eos minus expedita ipsum soluta voluptatem sed architecto.</p>
              <ul>
                <li>
                  <a href="#"><i class="mdi mdi-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="mdi mdi-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="mdi mdi-dribbble"></i></a>
                </li>
                <li>
                  <a href="#"><i class="mdi mdi-github-circle"></i></a>
                </li>
                <li>
                  <a href="#"><i class="mdi mdi-linkedin"></i></a>
                 </li>
              </ul>
          </div>
          <!--/.First column-->

          <!--Second column-->
          <div class="col-md-6 col-lg-3 col-xl-3 recent-widget">
            <h3 class="footer-title">Recent Posts</h3>
            <p><a href="#" class="dark-grey-text">Growth Hacking 101</a></p>
            <p><a href="#" class="dark-grey-text">30 UX Tips and Tricks</a></p>
            <p><a href="#" class="dark-grey-text">How to Scale Your Business</a></p>
            <p><a href="#" class="dark-grey-text">Getting Started with Sketch</a></p>
            <p><a href="#" class="dark-grey-text"></a>10 Tips to Validate Your Idea</p>
            <p><a href="#" class="dark-grey-text">SEO Guideline for Designers</a></p>
          </div>
          <!--/.Second column-->

          <!--Third column-->
          <div class="col-md-6 col-lg-3 col-xl-3 link-widget">
            <h3 class="footer-title">Quick link</h3>
            <ul>
              <li><a href="about.html">About Us</a></li>
              <li><a href="#">Brands</a></li>
              <li><a href="portfolio-index.html">Portfolio</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="#">Site Map</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
          <!--/.Third column-->

          <!--Fourth column-->
          <div class="col-md-6 col-lg-3 col-xl-3 footer-contact">
              <h3 class="footer-title">Our Gallery</h3>
              <div class="widget widget-gallery">
                <ul class="magnific-gallery">
                  <li><a href="#"><img src="{% static 'images/gallery/thum1.jpg' %}" alt="instagram image"></a></li>
                  <li><a href="#"><img src="{% static 'images/gallery/thum2.jpg' %}" alt="instagram image"></a></li>
                  <li><a href="#"><img src="{% static 'images/gallery/thum3.jpg' %}" alt="instagram image"></a></li>
                  <li><a href="#"><img src="{% static 'images/gallery/thum4.jpg' %}" alt="instagram image"></a></li>
                  <li><a href="#"><img src="{% static 'images/gallery/thum5.jpg' %}" alt="instagram image"></a></li>
                  <li><a href="#"><img src="{% static 'images/gallery/thum6.jpg' %}" alt="instagram image"></a></li>
                </ul>
              </div>
          </div>
          <!--/.Fourth column-->

        </div>
      </div>
      <!--/.Footer Links-->

      <!-- Copyright-->
      <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2018 Material Studio, All right reserved. Designed with <i class="mdi mdi-heart"></i> by <a href="#">UIdeck</a></p>
                </div>
            </div>
          </div>
      </div>
      <!--/.Copyright -->

    </footer>
    <!--/.Footer-->