{% load static %}
    <!-- Header Start -->
    <header id="header">
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar nav-bg">
        <div class="container">
         <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="mdi mdi-menu"></span>
              <span class="mdi mdi-menu"></span>
              <span class="mdi mdi-menu"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo_nuevo.png' %}" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                  Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'news' %}">
                  Noticias
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'webStatic' 'staff' %}">
                  Staff
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'bans_list' %}">
                  Baneados
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Informacion
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'home' %}">¿Como descargar LEVERAGE?</a>
                  <a class="dropdown-item" href="{% url 'home' %}">¿Como entrar al Servidor?</a>
                  <a class="dropdown-item" href="{% url 'home' %}">¿Que mods posee el Servidor?</a>
                  <a class="dropdown-item" href="{% url 'home' %}">¿Como sobrevivir tu primer dia?</a>
                  <a class="dropdown-item" href="{% url 'home' %}">¿Como asegurar tu casa?</a>
                  <a class="dropdown-item" href="{% url 'home' %}">¿Como asaltar una casa?</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                  Reportes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                  Donaciones
                </a>
              </li>
            </ul>
            <!-- Search Box Start -->
            <div class="search-icon">
              <span class="open-search">
                  <a href="{% url 'home' %}"><i class="mdi mdi-account btn btn-common"></i></a>
              </span>
            </div>
            <!-- Search Box End -->
          </div>
        </div>
        <!-- Mobile Menu Start -->
        <ul class="wpb-mobile-menu">
          <li>
            <a href="{% url 'home' %}">Inicio</a>
          </li>
          <li>
            <a href="{% url 'home' %}">Noticias</a>
          </li>
          <li>
            <a href="{% url 'home' %}">Staff</a>
          </li>
          <li>
            <a href="{% url 'home' %}">Baneados</a>
          </li>
          <li>
            <a href="#">Informacion</a>
            <ul class="dropdown">
              <li>
                <a href="{% url 'home' %}">¿Como descargar LEVERAGE?</a>
              </li>
              <li>
                <a href="{% url 'home' %}">¿Como entrar al Servidor?</a>
              </li>
              <li>
                <a href="{% url 'home' %}">¿Que mods posee el Servidor?</a>
              </li>
              <li>
                <a href="{% url 'home' %}">¿Como sobrevivir tu primer dia?</a>
              </li>
              <li>
                  <a href="{% url 'home' %}">¿Como asegurar tu casa?</a>
              </li>
              <li>
                  <a href="{% url 'home' %}">¿Como asaltar una casa?</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="{% url 'home' %}">Reportes</a>
          </li>
          <li>
            <a href="{% url 'home' %}">Donaciones</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
    </header>
    <!-- Header End -->