{% load static %}
<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <!-- Hero Post Slides -->
    <div class="hero-post-slides owl-carousel">

        <!-- Single Slide -->
        <div class="single-slide bg-img bg-overlay" style="background: url('{% static 'images/more/steve-alex.png' %}') no-repeat bottom right,url('{% static 'images/more/purple-mountains.png' %}') no-repeat bottom left,url('{% static 'images/more/stars.png' %}'),linear-gradient(#2e1a71,#3b2191);">
            <!-- Blog Content -->
            <div class="container h-100 d-flex flex-column justify-content-around">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-md-8">
                        <h1 class="h3 font-mc-ten">¿Qué es MINECRAFT?</h1>
                        <h2>ES UN JUEGO DE PONER BLOQUES E IR DE AVENTURAS</h2>
                        <p>Los infinitos mundos de Minecraft están llenos de secretos, maravillas pero también peligros. Icebergs, áreas pantanosas y amplias praderas te están esperando.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide bg-img bg-overlay" style="background-image: url({% static 'images/more/image.jpeg' %});">
            <!-- Blog Content -->
            <div class="container h-100 d-flex flex-column justify-content-around">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-md-8">
                        <h1 class="h3 font-mc-ten">¿Qué es LEVERAGE?</h1>
                        <h2>ES UN SERVIDOR DE MINECRAFT CON MODS</h2>
                        <p>Brindamos este Servicio a toda la comunidad de Minecraft SNET, un Servicio con calidad y multitud de opciones que de seguro te gustara experimentar.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide bg-img bg-overlay" style="background-image: url({% static 'images/banner.jpg' %});">
            <!-- Blog Content -->
            <div class="container h-100 d-flex flex-column justify-content-around">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-md-8">
                        <h1 class="h3 font-mc-ten">¿Qué hace unico al LEVERAGE?</h1>
                        <h2>SU GRAN ESTABILIDAD y EQUILIBRO</h2>
                        <p>Nuestro Servicio es uno de los mas estables y equilibrados en su tematica. Optamos por proporcionar una gran variedad de mods que satisfagan los intereses de todos.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ##### Hero Area End ##### -->