{% load static %}
    <!-- Call to action Section -->
    <section class="call-to-action-section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-8 col-lg-8 col-xs-12 text-left wow animated fadeInLeft" data-wow-delay=".2s">
          <h1> </h1><br>
              <h1>Minecraft LEVERAGE</h1>
              <h3>Te damos la bienvenida al Minecraft LEVERAGE!</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- Call to action Section End -->