    <!-- Call to action Section -->
    <section class="call-to-action-section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-8 col-lg-8 col-xs-12 text-left wow animated fadeInLeft" data-wow-delay=".2s">
          <h1> </h1><br>
              <h1>You are Trying Free Version</h1>
              <h3>Purchase Full Version to Get All Pages and Features!</h3>
          </div>
          <div class="col-md-4 col-lg-4 col-xs-12 mt-4 text-right wow animated fadeInRight" data-wow-delay=".3s"><br>
              <a href="https://rebrand.ly/material-bs4-purchase" rel="nofollow" target="_blank" class="animated4 btn btn-common"><i class="material-icons mdi mdi-cart"></i> Purchase Now</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Call to action Section End -->