{% extends 'base/base.html' %}
{% block nav %}{% include 'base/navbar.html' %}{% endblock %}
{% block footer %}{% include 'base/footer.html' %}{% endblock %}
{% load static %}
{% block content %}
      <!-- Page Titile Area -->
      <section class="page-title-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-center">
                        <div class="title-middle">
                            <h2 class="page-tagline">LEVERAGE - Pagina de Error!</h2>
                            <h1 class="page-title">404</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- Page Titile Area End -->

      <!-- error section -->
      <section class="Material-error-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="wow animated fadeInRight" data-wow-delay=".2s">404</h1>
                    <h2 class="wow animated fadeInRight" data-wow-delay=".4s">Pagina no encontrada! :(</h2>
                    <a href="javascript:void(0)" class="wow animated fadeInUp btn btn-common mt-5" data-wow-delay=".6s"><i class="material-icons mdi mdi-home"></i> Back to home<div class="ripple-container"></div></a>
                </div>
            </div>
        </div>
      </section>
      <!-- error section end -->
{% endblock %}