{% extends 'base/template.html' %}
{% load static %}
{% block content %}

    <!-- Welcome Section Start -->
    <section class="welcome-section section-padding section-dark">
      <div class="container">
        <div class="row pt-5">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <h1 class="text-center font-mc-ten mb-50">Listado de Usuarios Baneados:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="Material-tab">
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="business" role="tabpanel">
                    {% if object_list %}
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Usuario</th>
                              <th scope="col">Motivo</th>
                              <th scope="col">Fecha del Ban</th>
                              <th scope="col">Duracion del Ban</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for obj in object_list %}
                            <tr>
                              <th scope="row">{{ obj.user_ban.username }}</th>
                              <td>{{ obj.motive }}</td>
                              <td>{{ obj.ban_date | date:"Y/m/d P"}}</td>
                              <td>{% for expulse in obj.expulse %}
                                  {% if expulse.0 == obj.ban_expire %}
                                      {{ expulse.1 }}
                                  {% endif %}
                                  {% endfor %}
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    {% else %}
                        <p class="text-center">Aun no hay Usuarios Baneados.</p>
                    {% endif %}
                    </div>
              </div>
            </div>
            </div>
        </div>
      </div>
    </section>
{% endblock %}