{% extends 'base/template.html' %}
{% load static %}
{% block content %}

    <!-- Welcome Section Start -->
    <section class="welcome-section section-padding section-dark">
      <div class="container">
        <div class="row pt-5">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <h1 class="text-center font-mc-ten mb-30">{{ object.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="Material-tab">
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="business" role="tabpanel">
                      {{ object.content | safe  }}
                    </div>
              </div>
            </div>
        </div>
      </div>
    </section>
{% endblock %}