{% extends 'base/template.html' %}
{% load static %}
{% block content %}

    <!-- Welcome Section Start -->
    <section class="welcome-section section-padding section-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8 col-xs-12 welcome-column">
            <div class="video-gallery">
                <video controls width="100%" height="auto">
                    <source src="{% static 'mine.mp4' %}" type="video/mp4"/>
                    Tu navegador no soporta video HTML5
                </video>
            </div>
          </div>
          <div class="col-md-12 col-lg-4 col-xs-12">
            <div class="Material-tab">
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade show active">
                  <p>Minecraft es un sandbox, juego de construcción inspirado en Infiniminer, fortaleza enana y Dungeon Keeper, creado por Markus Persson, el fundador de Mojang AB. El juego consiste en jugadores de creación y destrucción de varios tipos de bloques en un entorno tridimensional. El jugador toma un avatar que puede destruir o crear bloques, formando estructuras fantásticas, las creaciones y obras de arte a través de los diversosmultijugador servidores en múltiples modos de juego.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Welcome Section End -->

    <!-- About Section -->
    <section class="Material-about-section section-padding">
      <div class="container">
        <div class="row">
          <!-- Single About -->
          <div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".2s">
            <div class="about-single">
                <img style="height: 70px" src="{% static 'images/personajes/player.png' %}">
              <h2 class="subtitle">Supervivencia</h2>
              <p>Para los amantes de la supervivencia extrema, esta es tu mejor opcion.</p>
            </div>
          </div>
          <!-- Single About -->
          <div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".3s">
            <div class="about-single">
                <img style="height: 70px" src="{% static 'images/personajes/cientifico.png' %}">
              <h2 class="subtitle">Comercio</h2>
              <p>El comercio entre jugadores permite el intercambio de multiples objetos.</p>
            </div>
          </div>
          <!-- Single About -->
          <div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".4s">
            <div class="about-single">
                <img style="height: 70px" src="{% static 'images/personajes/loco.png' %}">
              <h2 class="subtitle">Tecnologia y Ciencia</h2>
              <p>Maquinarias, artilugios y sistemas completos que mejoran tu experiencia en el juego.</p>
            </div>
          </div>
          <!-- Single About -->
          <div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".5s">
            <div class="about-single">
                <img style="height: 70px" src="{% static 'images/personajes/aldeano_fin.png' %}">
              <h2 class="subtitle">Aventura y Misterio</h2>
              <p>Magia, misterio y aventuras, te brindamos eso y mucho mas.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Our BLog Section -->
    <section class="Material-blog-section section-padding section-dark">
      <div class="container">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <h1 class="section-title text-center">Noticias:</h1>
            </div>
        </div>

        <div class="row">
            {% for obj in news %}
            <!-- Single Article -->
            <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".3s">
                <article class="single-blog-post">
                    <!-- Featured Image -->
                    <div class="featured-image">
                        <a href="#">
                            <img src="{{ obj.image.url }}" alt="">
                        </a>
                    </div>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <!-- Title -->
                        <a href="blog-single.html"><h2 class="subtitle">{{ obj.title }}</h2></a>
                         <p>{{ obj.description }}</p>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
        <div class="row mt-5 wow animated fadeInUp" data-wow-delay=".6s">
          <!-- Button -->
          <div class="col-md-12 text-center">
              <a href="{% url 'news' %}" class="animated4 btn btn-common" data-ripple-color="#000"><i class="material-icons mdi mdi-library"></i> Ver mas<div class="ripple-container"></div></a>
          </div>
        </div>
      </div>
    </section>
    <!-- Our BLog Section End -->

    <!-- work-counter area -->
    <section class="work-counter-section section-padding section-dark">
        <div class="container">
            <div class="row">
                <!-- Single Counter -->
                <div class="col-md-4 col-sm-12 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".2s">
                    <div class="counter">
                        <div class="icon"><i class="material-icons mdi mdi-account-multiple-outline"></i></div>
                        <div class="timer">{{ total_players }}</div>
                        <p>Total de Jugadores</p>
                    </div>
                </div>
                <!-- Single Counter -->
                <div class="col-md-4 col-sm-12 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".3s">
                    <div class="counter">
                        <div class="icon"><i class="material-icons mdi mdi-account-card-details"></i></div>
                        <div class="timer">{{ total_teams }}</div>
                        <p>Total de Grupos</p>
                    </div>
                </div>
                <!-- Single Counter -->
                <div class="col-md-4 col-sm-12 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".4s">
                    <div class="counter">
                        <div class="icon"><i class="material-icons mdi mdi-account-check"></i></div>
                        <div class="timer">{{ total_online }}</div>
                        <p>Conectados</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- work-counter area end -->

    <!-- Services Section -->
    <section class="Material-service-section section-padding">
      <div class="container">
          <div class="row">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
              <h1 class="section-title text-center">¿Donde descargarlo?</h1>
            </div>
          </div>
          <!-- Services Widget Section -->
          <div class="row">
              <!-- Service Widgets -->
              <div class="col-md-12 col-lg-4 col-xl-4 single-service-widget wow animated fadeInUp" data-wow-delay=".3s">
                  <div class="media">
                      <div class="media-left">
                          <i class="material-icons pulse-shrink mdi mdi-download"></i>
                      </div>
                      <div class="media-body">
                          <h2 class="subtitle"><a target="_blank" href="{{ donwload_ftp }}">LEVERAGE (FTP)</a></h2>
                      </div>
                  </div>
              </div>
              <!-- Service Widgets -->
              <div class="col-md-12 col-lg-4 col-xl-4 single-service-widget wow animated fadeInUp" data-wow-delay=".4s">
                  <div class="media">
                      <div class="media-left">
                          <i class="material-icons pulse-shrink mdi mdi-download"></i>
                      </div>
                      <div class="media-body">
                          <h2 class="subtitle"><a target="_blank" href="{{ donwload_torrent }}">LEVERAGE (Torrent)</a></h2>
                      </div>
                  </div>
              </div>
              <!-- Service Widgets -->
              <div class="col-md-12 col-lg-4 col-xl-4 single-service-widget wow animated fadeInUp" data-wow-delay=".4s">
                  <div class="media">
                      <div class="media-left">
                          <i class="material-icons pulse-shrink mdi mdi-download"></i>
                      </div>
                      <div class="media-body">
                          <h2 class="subtitle"><a target="_blank" href="{{ donwload_testing }}">LEVERAGE Testing (FTP)</a></h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!-- Services Section End -->

{% endblock %}
