{% extends 'base/template_index.html' %}
{% load static %}
{% block content %}
    <!-- Welcome Section Start -->
    <section class="welcome-section section-padding">
        <div class="row p-0 h-100">
            <div class="col-12 col-md-6 p-0">
                <video controls width="100%" height="auto">
                    <source src="{% static 'video/mine.mp4' %}" type="video/mp4"/>
                    Tu navegador no soporta video HTML5
                </video>
            </div>
            <div class="col-12 col-md-6">
                <div class="col-md-8 offset-md-2 d-flex align-items-center justify-content-center">
                    <div class="page-section mt-50">
                        <div class="container">
                            <div class="max-text-width d-block">
                                <h2 style="text-align: center;" class="font-mc-seven">¿Qué es Minecraft?</h2>
                                <p>Minecraft es un sandbox, juego de construcción inspirado en Infiniminer, fortaleza enana y Dungeon Keeper, creado por Markus Persson, el fundador de Mojang AB.</p>
                                <p>El juego consiste en jugadores de creación y destrucción de varios tipos de bloques en un entorno tridimensional.</p>
                                <p>El jugador toma un avatar que puede destruir o crear bloques, formando estructuras fantásticas, las creaciones y obras de arte a través de los diversos servidores en múltiples modos de juego.</p>
                                <div class="justify-content-center text-center max-text-width">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Section End -->

    <section class="section-padding-0-100">
        <div class="row p-0 h-100">
            <div class="col-12 col-md-6">
                <div class="col-md-8 offset-md-2 d-flex align-items-center justify-content-center">
                    <div class="page-section page-section--double-spacing">
                        <div class="container">
                            <div class="max-text-width d-block">
                                <h2 style="text-align: center;" class="font-mc-seven">CÓMO JUGAR</h2>
                                <p>No existe una única forma de jugar Minecraft. ¡Es un mundo abierto los jugadores deciden lo que quieren hacer!</p>
                                <p>Existen distintos modos de juego:&nbsp;<a href="#">Creativo</a>, donde los jugadores tienen materiales ilimitados para construir cualquier cosa que se les imagine; y&nbsp;<a href="#">Supervivencia</a>, donde los jugadores deben explorar el mundo y conseguir recursos para alimentarse, construir y defenderse.</p>
                                <p>¡También puedes jugar con tus amigos en línea y hacer vuestras propias reglas!</p>
                                <div class="justify-content-center text-center max-text-width">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 image-bg" style="background-image: url({% static 'images/more/how-to-play.jpg' %});"></div>
        </div>
        <div class="row p-0 h-100">
            <div class="col-12 col-md-6 image-bg" style="background-image: url({% static 'images/more/get-started.jpg' %});"></div>
            <div class="col-12 col-md-6">
                <div class="col-md-8 offset-md-2 d-flex align-items-center justify-content-center">
                    <div class="page-section page-section--double-spacing">
                        <div class="container">
                            <div class="max-text-width d-block">
                                <h2 style="text-align: center;" class="font-mc-seven">HORA DE INICIO DEL EVENTO</h2>
                                <p>Casi todos los bloques de Minecraft pueden ser obtenidos minando o recogiéndolos. ¡Después, puedes utilizarlos para construir otras cosas!</p>
                                <p>Golpea un árbol hasta que consigas su tronco, transfórmalo en madera y combínala para crear una&nbsp;<a href="#">mesa de crafteo</a>.</p>
                                <p>Puedes utilizar la mesa de crafteo para hacer todo tipo de herramientas, siempre que tengas los materiales necesarios.</p>
                                <div class="justify-content-center text-center max-text-width">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-0 h-100">
            <div class="col-12 col-md-6">
                <div class="col-md-8 offset-md-2 d-flex align-items-center justify-content-center">
                    <div class="page-section page-section--double-spacing">
                        <div class="container">
                            <div class="max-text-width d-block">
                                <h2 style="text-align: center;" class="font-mc-seven">JUGAR CON AMIGOS</h2>
                                <p>LEVERAGE es un servidor gestionado por nosotros solo para ti y tus amigos. Nuestro mundo de Minecraft siempre estará disponible para tí, incluso cuando no estés conectado.</p>
                                <p>¡Es, además, un poco inseguro! Mucha gente están unidos a tu mundo y lo que allí hagán puede afectarte. ¡crear, sobrevivir y competir!</p>
                                <p>Tú y hasta 20 amigos, podéis jugar al mismo tiempo - y no hay límite de invitaciones.</p>
                                <p>¡En el servidor puedes hacer lo que tú quieras! Crear máquinas enormes, castillos colosales o ciudades en el cielo, buscar recursos para sobrevivir durante la noche o cavar hasta lo más profundo para hacerte con valiosos tesoros para tus aventuras. Es tu mundo, tú mandas.</p>
                                <p>Es tu mundo, aquí tú mandas.</p>
                                <h2 style="text-align: center;"><a href="#downloads" class="font-mc-seven">DESCARGAR</a></h2>
                                <div class="justify-content-center text-center max-text-width">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 image-bg" style="background-image: url({% static 'images/more/play-with-friends.jpg' %});"></div>
        </div>
    </section>

    <section class="games-area section-padding-0-100" id="downloads">
        <div class="container">
            <div class="row">
                <!-- Section Titile -->
                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="text-center font-mc-ten mb-50">¿Donde descargarlo?</h1>
                </div>
            </div>
            <div class="row">
                <!-- Single About -->
                <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".2s">
                    <div class="about-single">
                        <a target="_blank" href="{{ donwload_ftp }}"><img style="height: 70px" src="{% static 'images/ftp.png' %}"></a>
                        <a target="_blank" href="{{ donwload_ftp }}"><h2 class="font-mc-seven">Minecraft Oficial</h2></a>
                    </div>
                </div>
                <!-- Single About -->
                <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".3s">
                    <div class="about-single">
                        <a target="_blank" href="{{ donwload_torrent }}"><img style="height: 70px" src="{% static 'images/torrent.png' %}"></a>
                        <a target="_blank" href="{{ donwload_torrent }}"><h2 class="font-mc-seven">Minecraft Oficial</h2></a>
                    </div>
                </div>
                <!-- Single About -->
                <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".4s">
                    <div class="about-single">
                        <a target="_blank" href="{{ donwload_testing }}"><img style="height: 70px" src="{% static 'images/ftp.png' %}"></a>
                        <a target="_blank" href="{{ donwload_testing }}"><h2 class="font-mc-seven">Testing</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
